{% extends 'base.html' %}

{% block title %}
Suraksha Portal | Login
{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="page-heading">
                Login Form | Suraksha Portal   
            </h2>
        </div>
        <div class="col-sm-12 form-center">
            {% block login %}
        
            {% endblock login %}
        </div>
        
    </div>
</div>

{% endblock body %}