{% extends 'base.html' %}

{% block title %}
Suraksha Portal | Login
{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <span class="page-heading">Login form | Suraksha Portal</span>
        </div>
        <div class="m-5">
            <form action="{% url 'loginUser' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}