*{
    margin: 0;
    padding: 0;
}

.page-heading{
    margin: 2%;
    font-size: 1.8em;
    font-weight: 600;
}

.form-heading{
    margin: 2%;
    font-size: 1.4em;
    font-weight: 400;
}

.nav-bg{
    background-color: #AFB42B !important;
}

.form-center{

    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box{
    background-color: #DCE775;
}