{% extends "base.html" %}

{% block title %}
Suraksha Portal | Track requests
{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <span class="page-heading">
                Track requested items | Suraksha portal
            </span>
        </div>
        {% if message %}
        <div class="col-sm-12 text-center">
            <span class="text-warning">
                {{message}}
            </span>
        </div>
        {% endif %}
        {% for request in requests %}
        <div class="col-sm-12 p-3">
            <span>Category: {{request.category}}</span> <br>
            <span>Deadline: {{request.deadline}}</span> <br>
            <span>Priority: {{request.priority}}</span> <br>
            <span>Completion status: {{request.completed}}</span> <br>
            {% if request.answered %}
            <span>Answered By: {{request.answeredBy}}</span> <br>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Item name</th>
                        <th>Item quantity</th>
                        <th>Item description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in request.items %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.qty}}</td>
                        <td>{{item.desc}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 p-3 d-flex justify-content-end">
            {% if not request.completed %}
            <form action="{% url 'markItemCompleted' %}" method="post" class="mx-2">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{request.id}}">
                <button type="submit" class="btn btn-success">Mark as completed</button>
            </form>
            {% endif %}
            {% if request.answered and not request.priority and not request.completed %}
            <form action="{% url 'markItemUrgent' %}" method="post" class="mx-2">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{request.id}}">
                <button type="submit" class="btn btn-danger">Raise urgency</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}