{% extends 'register.html' %}

{% block register %}

<div class="m-2 text-center">
    <div class="col-sm-12 text-center mt-2">
        <span class="form-heading">Employee registration</span>
    </div>
    <div class="col-sm-12 p-5">
        <form action="{% url 'registerMember' %}" method="post" class="text-left">
            {% csrf_token %}
            <div class="form-group">
                <label for="fname">
                    First Name
                </label>
                <input type="text" name="fname" class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">
                    Last Name
                </label>
                <input type="text" name="lname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">
                    Email Address
                </label>
                <div class="input-group">
                    <input type="text" name="email" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">@suraksha.com</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                </label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock register %}